@page "/search"
@using HPCProjectTemplate.Shared;
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Navigations;
@using Syncfusion.Blazor.Notifications;

<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-2">
            <InputText @bind-Value="SearchTitle" />
        </div>
        <div class="col-1">
            <button type="submit" @onclick="SearchOMDB">search</button>
        </div>
        <div class="col-9"></div>
    </div>
</div>


@if (OMDBMovies is not null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SfPager PageSize="10" TotalItemsCount="@totalResults" ItemClick="PageClick"></SfPager>
                <SfGrid ID="GridMovies" @ref="MoviesGrid" TValue="MovieSearchResultItem" DataSource="OMDBMovies"
                        Toolbar="@(new List<object>() { new ItemModel() { Text = "Add Movie", PrefixIcon="e-add", Id="GridMovieAdd" } } )">
                    <GridEvents RowSelected="GetSelectedRecord"
                                OnToolbarClick="ToolBarClickHandler"
                                TValue="MovieSearchResultItem"></GridEvents>
                    <GridColumns>
                        <GridColumn Field="@nameof(MovieSearchResultItem.imdbID)" IsPrimaryKey="true" Visible="false" />
                        <GridColumn Field="@nameof(MovieSearchResultItem.Title)" />
                        <GridColumn Field="@nameof(MovieSearchResultItem.Year)" Width="120" />
                    </GridColumns>
                </SfGrid>
            </div>
            <div class="col-4">
                <img src="@(selectedPoster ?? "")" />
            </div>
        </div>
    </div>
}

<SfToast    @ref="ToastObj"
            ShowCloseButton="true"
            ShowProgressBar="true"
            Content="@toastContent"
            CssClass="e-toast-success"
            Icon="e-check-large"
            Timeout="3000">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

